{#<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="author" content="Soldeplata Saketos Candela"/>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
     <footer>
         <a href="{{path('root_show')}}">Volver al Inicio (Raíz)</a>
     </footer>   
        {% block javascripts %}{% endblock %}
    </body>
</html>#}
{#
A partir de aquí el nuevo documento!


#}
<!DOCTYPE html>
<html lang="ca">

<!--PÀGINA EN CATALÀ-->

<head>
    <link rel="icon" href='{{ asset("img/iconotitle.png") }}' type="image/x-icon"/>
    <link href='{{ asset("style/estilazoPHP.css") }}' rel="stylesheet" type="text/css" />
    <!--LINK A LA PÀGINA D'ESTIL I DISSENY-->
    <title>{% block title %}Aire Lliure - Activitats Outdoor :){% endblock %}</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="Aire Lliure, Raids, Aventura, Tarragona, Catalunya, Orienteering, Adventure races, Activitats Outdoor, Adventure" name="keywords" />
    <meta content="Events esportius i activitats outdoor.
Orienteering | Trail running | MTB | Climbing | Adventure races &amp; travels
Multiactivites | Triathlon | Duathlon | Rogaining | Alpinism | Mountain guide services

Gestionem, de manera innovadora i creativa, les activitats del teu club esportiu amb convicció d'èxit. La nostra experiència avala eficiència i solidesa organitzativa." name="description" />

    <!--<meta charset="UTF-8"/>-->
    <meta content="all" name="robots" />
    <meta content="Eduard Vizcaya Roldán" name="design" />
    <meta content="Soldeplata Saketos Candela" name="author" />
    <!--AQUÍ EL JS DE MOSTRAR LA DATA AL WEB-->

    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!--esto es para escalar la página y hacerla responsive-->
    <link rel="stylesheet" href='{{ asset("style/bootstrap.min.css") }}'>
    <!--Bootstrap es un sistema CSS y HTML que permite la responsiveness de un modo rápido y ágil mediante clases predefinidas-->
    <script src='{{ asset("scripts/jquery.min.js") }}'></script>
    <!--link a jquery-->
    <script src='{{ asset("scripts/bootstrap.min.js") }}'></script><!--Bootstrap es un sistema CSS y HTML que permite la responsiveness de un modo rápido y ágil mediante clases predefinidas-->
    <script type="text/javascript" src='{{ asset('scripts/bigtext.js') }}'></script>
    <script type="text/javascript" src="{{ asset('scripts/aire.js') }}"></script>






</head>

<body>

<!--	NAVIGATION BAR  -->
{% block navBar %} {% endblock %}

<!--		 CAPCELERA-->
{% block header %}{% endblock %}

<!--		 CONTINGUT PRINCIPAL-->
{% block body %}{% endblock %}


<!--		    PEU DE PÀGINA-->
{% block footer %}{% endblock %}








</body>

</html>
